.login{
    padding:10px;
    padding-right:30px;
    background:white;
    width:600px;
    font-family:'Tajawal', sans-serif;
    margin-top:70px;
    margin-right:25%;
    text-align:right;
    box-shadow:0px 0px 7px lightgray;
}
.login h4{
    margin-bottom:20px;
    font-weight:300;
}
.login input{
    font-size:16px;
    display:block;
    width:360px;
    margin:4px;
    padding:10px 3px 5px 20px;
    direction:ltr;
}
.login input[type=submit]{
    background:#6b6464;
    color:white;
    border-radius:3px;
}
.login input[type=reset]{
    background:#8e4141;
    color:white;
    border-radius:3px;
}